<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Jeevansathi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
				<key>dateExpires</key>
				<string>07/09/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MagicalRecord.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenu.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkeletonView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6B1E8A945D3B53FE92E46D9179042B474059237A</string>
						<key>dateExpires</key>
						<string>07/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Z3QQ492P6Z</string>
						<key>name</key>
						<string>Info Edge (India) Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z3QQ492P6Z.com.infoedge.jeevansathi</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z3QQ492P6Z</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Jeevansathi.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>856d7483-33a4-4311-93d3-b69ed1135597</string>
				<key>name</key>
				<string>JeevansathiDevProfile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z3QQ492P6Z</string>
				<key>name</key>
				<string>Info Edge (India) Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
